@import '../../styles/variables';
@import '../../styles/mixins';

.calendar {
  h1 {
    margin-bottom: 2rem;
    font: 2.5rem $font-openSans;
  }
  padding: 4rem 0;
  margin-bottom: 4rem;
  text-align: center;
}
