@import '../../../../styles/variables';

.Footer {
  background-color: $component-bg;
  color: #fff;

  .FooterTitle {
    color: #fff;
  }

  .FooterList {
    text-align: center;
  }

  .FooterSpecialList {
    text-align: center;

    a {
      display: inline-block;
      padding: 10px;
    }
  }
}
