@import '../../styles/variables';
#Churches {
  padding-top: 3rem;
  padding-bottom: 5rem;
  .locationsWrapper {
    text-align: center;
    .logo {
      width: 11rem;
      height: 11rem;
      margin: 0 auto;
      display: block;
    }
    h2 {
      text-align: center;
    }
    .filterLabel {
      display: inline-block;
    }
  }
  .ChurchCard {
    margin-bottom: 4rem;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .churchesWrapper {
    margin-top: 2rem;
  }
  .ChurchCardContent {
    min-height: 17rem;
  }
  .seeMore {
    height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 2.5rem;
    background: none;
    border: 2px solid #000;
    color: #000;
    font-weight: bold;
    width: 14rem;
    font-size: 1.2rem;
    &:hover {
      color: #fff;
      border-color: #000;
      background: #040926;
    }
    &:focus {
      outline: 0;
    }
  }
}
