@import '../../styles/variables';
@import '../../styles/mixins';

#liveVw {
  .mainBanner {
    height: 30rem;
    @include respond-to(xlarge) {
      height: 40rem;
    }
    @include respond-to(xxl) {
      height: 50rem;
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
  .mainBannerOverlay {
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0.6;
    background-image: linear-gradient(180deg, #1a1423, #000);
  }
  .iframeWrapper {
    width: 100%;
    height: 25rem;
    margin-top: -13rem;
    margin-bottom: 50px;
    z-index: 10;
    position: relative;
    border: 0.7rem solid #fff;
    box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);

    @include respond-to(large) {
      height: 40rem;
      margin-top: -14rem;
    }
    @include respond-to(xlarge) {
      margin-top: -18rem;
    }
    @include respond-to(xxl) {
      height: 56rem;
    }
  }
  .recentMessages {
    margin-top: 8rem;
    padding-bottom: 10rem;
    h1 {
      font: 500 3rem $font-openSans;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  .messageCard {
    margin-bottom: 2rem;
    img {
      width: 60%;
      margin: 0 auto;
    }
  }
}
