@import "../../styles/variables";
@import "../../styles/mixins";

#Contact {
  background-color: unset;

  .mainBanner {
    height: 20rem;
    @include respond-to(xlarge) {
      height: 30rem;
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
  .mainBannerOverlay {
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0.6;
    background-image: linear-gradient(45deg, #1a1423, #42002a);
  }
  .infoCardsWrapper {
    padding-bottom: 3rem;
    margin-top: -4rem;
    .infoCard {
      margin-bottom: 2rem;
      box-shadow: 5px 9px 16px 4px rgba(0, 0, 0, 0.1);

      svg {
        margin-right: 0.5rem;
      }
    }
  }
  .locationsWrapper {
    text-align: center;
    .logo {
      width: 11rem;
      height: 11rem;
      margin: 0 auto;
      display: block;
    }
    h2 {
      text-align: center;
    }
    .filterLabel {
      display: inline-block;
    }
  }
  .ChurchCard {
    margin-bottom: 2rem;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .churchesWrapper {
    margin-top: 2rem;
  }
  .ChurchCardContent {
    min-height: 15rem;
  }
  .seeMore {
    margin: 0 auto;
    background: none;
    color: #000;
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    &:hover {
      border: 1px solid #941834;
      color: #941834;
    }
  }
}
