@import '../../styles/variables';
@import '../../styles/mixins';

.lessons {
  .kidsTitle {
    font: 4rem $font-fredoka;
    color: #ffa726;
    text-align: center;
    letter-spacing: 0.05rem;
  }
  .intro {
    padding: 3rem 5rem;

    p {
      font: 400 1.8rem/3.2rem $font-openSans;
      max-width: 59rem;
      margin: 0 auto;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .inclusions {
    background-image: url('#{$cdnPath}/v2/images/central/kids/blue-curved.png');
    background-repeat: no-repeat;
    height: 36rem;
    padding: 14.6rem 0px;
    background-size: cover;
    text-align: center;

    h4 {
      font: 3.5rem $font-fredoka;
      color: #fff;
    }
    p {
      text-align: center;
      color: #fff;
      max-width: 60rem;
      margin: 0 auto;
    }
  }
  .lessonsWrapper {
    padding-top: 5rem;
    padding-bottom: 4rem;

    .kidsTitle {
      color: #000;
      //color: #8373ce;
      //color: #03a9f4;
      margin-bottom: 4rem;
    }
  }
  .lessonCard {
    margin-bottom: 1.5rem;
    @include respond-to(xlarge) {
      margin-bottom: 5rem;
    }
    @include respond-to(xxl) {
      margin-bottom: 5rem;
    }
    img {
      width: 100%;
      cursor: pointer;
      // box-shadow: 1px 3px 15px 0 rgba(0, 0, 0, 0.5);
      border: 2.5px solid #000;
      margin: 0 auto;
      margin-top: -1.5rem;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }
    .content {
      strong {
        font-size: 1.7rem;
      }
      @include respond-to-max(large) {
        margin-top: 1.5rem;
      }
      @include respond-to(large) {
        margin-left: 2rem;
      }
    }
  }
}
