@import '../../styles/variables';

.SocialBar {
  padding: 10px;
  background-color: $secondary-color;

  i {
    display: inline-block;
    font-size: 30px;
    color: #fff;
  }

  .Item {
    position: relative;
    margin-right: 2.5rem;
    margin-left: 2.5rem;

    &:hover {
      i {
        transition: color 0.3s ease;

        cursor: pointer;
        color: $status-color;
      }
    }

    i {
      &:first-child {
        font-size: 2.5rem;
        position: absolute;
        padding-top: 9px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    :global {
      .icon-radio-unchecked {
        display: inline-block;
      }
    }
  }
}
