@import '../../styles/variables';
@import '../../styles/mixins';

.Home {
  .homeLegend {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    font-size: 1.5rem;
    color: #fff;
    opacity: 1;
    bottom: 1rem;
    cursor: pointer;
  }
  .pastorMessage {
    padding-top: 4rem;
    padding-bottom: 5rem;

    h1 {
      font: 700 2.7rem/2.8rem $font-lobster;
      text-align: center;
    }
  }
  .quoteBy {
    font: 700 1.3rem $font-openSans;
    font-style: italic;
    display: inline-block;
  }

  .pastorAvatar {
    width: 27rem;
    height: 27rem;
  }
  .introText {
    font: 500 1.4rem/2.2rem $font-openSans;
    text-align: justify;

    @include respond-to(large) {
      max-width: 90%;
    }
  }
  .readMore {
    font: 600 1.2rem/2rem $font-openSans;
    color: #000;
    border: 1px solid $secondary-color;
    border-radius: 5rem;
    padding: 1rem;
    width: 100%;
    display: block;
    margin-top: 4rem;
    @include respond-to(large) {
      padding: 0.4rem;
      width: 15rem;
    }

    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
  .servicesSchedule {
    background-image: url('https://elim.nyc3.digitaloceanspaces.com/v2/images/home/horarios-bg.jpg');
    min-height: 50rem;
    padding: 2rem 0;
    @include respond-to(large) {
      padding-top: 4rem;
    }
    h2 {
      font: 600 2.5rem $font-openSans;
      text-align: center;
      color: #fff;
      margin-bottom: 2rem;
    }
  }
  .scheduleItem {
    color: #fff;
    max-width: 32rem;
    margin-top: 2rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    @include respond-to(xlarge) {
      max-width: 40rem;
    }
    @include respond-to(xxl) {
      max-width: 50rem;
    }
  }
  .scheduleTime {
    font: 600 1.4rem/2rem $font-openSans;
    display: block;
  }
  .serviceName {
    font: 400 1.3rem/2rem $font-openSans;
  }
  .oracionWrapper {
    padding: 3rem 2rem 5rem;
  }
  .oracionForm {
    max-width: 50rem;
    margin: 0 auto;
  }
  .submitPrayerBtn {
    background-color: #1a1423;
    border: none;
  }
  .titleWrapper {
    margin-bottom: 3rem;
    text-align: center;
    h3 {
      font: 3rem $font-lobster;
      margin-bottom: 0;
    }
  }
  .mainSlider {
    img {
      object-fit: cover;

      @include respond-to-max(xs-max) {
        max-height: 24rem;
        min-height: 24rem;
      }

      @include respond-to(large) {
        max-height: 28rem;
      }

      @include respond-to(xlarge) {
        max-height: 50rem;
        min-height: 50rem;
        object-position: 50% 25%;
      }
      @include respond-to(xxl) {
        max-height: 60rem;
        min-height: 60rem;
      }
      @include respond-to(image-max) {
        max-height: 80rem;
        min-height: 80rem;
      }
    }
  }
}
