.donations {
  .introFidelidad {
    padding-top: 3rem;

    h2 {
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  .formWrapper {
    padding-top: 4rem;
    padding-bottom: 6rem;

    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}
