@import '../../styles/variables';

.donations {
  .introFidelidad {
    padding-top: 3rem;

    h2 {
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  .formWrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;

    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    form {
      max-width: 65rem;
      margin: 0 auto;
    }
  }
  .paypalSuccess {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    img {
      width: 50%;
      margin: 0 auto;
    }
    .successBtn {
      padding: 0.7rem 2rem;
      background: $secondary-color;
      color: #fff;
    }
  }
  .ResulTitle {
    h6 {
      font-size: 1.8rem;
    }
  }
  .AccountsWrapper {
    max-width: 40rem;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    padding: 0 1rem;

    button {
      width: 100%;
      background: #1b4482;
      color: #fff;
      padding: 2.2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      font: 500 1.4rem/0rem $font-raleway;
    }
  }
  .accountsInfo {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 44rem;
    overflow: hidden;

    h4 {
      margin-bottom: 0;
      color: $secondary-color;
      font-size: 1.7rem;
    }
  }
  .accountDesc {
    .accountNumber {
      font-size: 1.7rem;
    }
    .accountHolder {
      color: $secondary-color;
      font-size: 1.7rem;
      margin-right: 0.5rem;
    }
  }
  .rtn {
    text-align: right;
    display: block;
    color: red;
    font-size: 1.4rem;
  }
}
