@import './variables';

.mainBanner {
  height: 35rem;
  @include respond-to(xlarge) {
    height: 55rem;
  }
  @include respond-to(xxl) {
    height: 65rem;
  }
  img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
}
.section-title {
  font: 800 3.5rem $font-raleway;
}

.section-paddings {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.paypalWrapper {
  max-width: 40rem;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  padding: 0 1rem;
}

.ant-picker-calendar-date-content {
  overflow: hidden !important;
}
