.ant-drawer-body {
  padding: 3rem 1.5rem;
}

.ant-drawer-content-wrapper {
  background: none;
}
.ant-drawer-header {
  background: none;
  .ant-drawer-title {
    color: #fff;
  }
}
.ant-drawer-content {
  background-color: $secondary-color;
  color: #fff;
  opacity: 0.9;
}
.drawer-item {
  margin-bottom: 2rem;
  a {
    font-size: 1.6rem;
    &:hover {
      color: $status-color;
    }
  }
  svg {
    margin-right: 2rem;
    font-size: 2rem;
  }
}
