#header {
  padding-top: 1rem;
  .header-logo {
    width: 30rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .anticon-menu {
    margin-left: 1.5rem;
    font-size: 1.8rem;
  }
  .ant-menu-horizontal {
    background: #1a1423;
    a {
      color: #fff;
    }
    .ant-menu-item,
    .ant-menu-submenu {
      &:hover {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-active {
      border-bottom: 2px solid $primary-color;
    }
  }
}
