#header {
  padding-top: 1rem;

  .header-logo {
    width: 30rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .anticon-menu {
    margin-left: 1.5rem;
    font-size: 1.8rem;
  }

  .ant-menu-horizontal {
    border: none;
    background: $secondary-color;
    opacity: 0.97;
    a {
      color: #fff;
      &:hover {
        color: $status-color;
      }
    }
    .ant-menu-item,
    .ant-menu-submenu {
      &:hover {
        color: $primary-color;
        border-bottom: 2px solid white;
      }
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-active {
      border-bottom: 2px solid white;
    }
  }
}

.ant-menu-submenu-popup {
  background: #1a1423;
  opacity: 0.8;

  a {
    color: #fff;
  }
}
.ant-menu-submenu > .ant-menu {
  background: #1a1423;
  color: #fff;
}

.ant-menu-submenu {
  li {
    &:hover {
      color: $status-color;
    }
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: unset;
}

.ant-menu-item > a:hover {
  color: $status-color;
}
