.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 1024px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1164px;
  }
}

.margin-auto {
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.ib {
  display: inline-block;
}

.white {
  color: #fff;
}

.display-block {
  display: block;
}

.txt-center {
  text-align: center;
}

.regular-btn {
  height: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2.5rem;
  background: none;
  border: 2px solid;
  font-weight: bold;
  width: 15rem;
  &:hover {
    color: lighten($secondary-color, 10%);
  }
}

.section-gray {
  background-color: #eaeaea;
}
