/*
// Variables
// ------------------------------------------------ */

$primary-color: #2c307a;
$secondary-color: #040926;
$third-color: #3d314a;
$fourth-color: #07a0c3;
$fifth-color: #42002a;

$hillBlue: #0d112f;

$status-color: #d3d4d9;
$status-color2: #f0c808;

$font-openSans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$z-layers: (
  bottomless-pit: -9999,
  before: 0,
  default: 1,
  after: 2,
  header: 10,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001,
  drama: 9999,
);

/*==== Breakpoints ====*/
$breakpoints: (
  xsmall: 320px,
  small: 375px,
  medium: 425px,
  large: 768px,
  // tablet
    xlarge: 1024px,
  // desktop
    xxl: 1400px,
  2k: 2048px,
  xs-max: 767px,
  sm-min: 768px,
  // tablet-min
    sm-md-min: 992px,
  // tablet-min
    sm-max: 1023px,
  // tablet-max
    md-min: 1024px,
  // desktop-min
    md-max: 1199px,
  lg-min: 1200px,
  mobile-map-max: 730px,
  image-max: 1920px,
);
